@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="LeagueStandings">
    <input type="submit" value="League Standings" />
</form>

<form asp-action="LeagueGames">
    <input type="submit" value="League Games" />
</form>
